
@{
    ViewBag.Title = "درباره ما";
}

<h2>درباره ما</h2>
<div class="container">
    <table class="table tbl-about">
        <thead>
            <tr>
                <th>نام</th>
                <th>سمت</th>
                <th>ایمیل</th>
            </tr>
        </thead>
        <tr>
            <td>content</td>
            <td>content</td>
            <td>content</td>
        </tr>
        <tr>
            <td>content</td>
            <td>content</td>
            <td>content</td>
        </tr>
        <tr>
            <td>content</td>
            <td>content</td>
            <td>content</td>
        </tr>
        <tr>
            <td>content</td>
            <td>content</td>
            <td>content</td>
        </tr>
        <tr>
            <td>content</td>
            <td>content</td>
            <td>content</td>
        </tr>
        <tr>
            <td>content</td>
            <td>content</td>
            <td>content</td>
        </tr>
    </table>
</div>
@section style {
    <style>
        footer{
            position:absolute;
            bottom:0px;
        }
        body {
            background-image: url('../../images/bgimages/peakpx (11).jpg');
            background-size: cover;
            background-attachment: fixed;
        }

        h2 {
            color: white;
            text-align: center;
        }
    </style>

}